@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  display: flex;
  flex-direction: column;
}

.section-container {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  header components */
.navbar {
  background-color: rgb(31 41 55);
  width: 100%;
  display: flex;
  position: sticky;
  z-index: 10;
  justify-content: center;
}
.nav_sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;

  @media (min-width: 768px) {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left-width: 1px;
  }
}

.navbar .resume_btn {
  background-color: #16a340;
  color: white;
  padding: 8px;
  font-size: large;
  border-radius: 8px;
}

.container {
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center */
}

.header_name {
  font-size: x-large;
  color: white;
}

/*  about section */
